.profile_left {
	position: fixed;
	top: -10px;
	bottom: 0px;
	height: 100%;
	width: 17%;
	max-width: 240px;
	min-width: 130px;
	float: left;
	position: relative;
	background-color: #e67e22;
	border-right: 10px solid #f2c48c;
	color: #fae8d8;
	margin-right: 20px;
}

.profile_left img {
	min-width: 50px;
	width: 65%;
	margin: 20px;
	border: 3px solid #f2c48c;
	border-radius: 100px;
}

.profile_info {
    display: list-item;
    background-color: #f2c48c4d;
    width: 100%;
    padding: 10px 0 10px 0;
}

.profile_info p {
	margin: 0 0 0 20px;
	word-wrap: break-word;
}

.profile_main_column {
	min-width: 675px;
	float: left;
	width: 70%;
	z-index: -1;
}

.danger {
	background-color: #e74c3c;
}

.warning {
	background-color: #f0ad4e;
}

.default {
	background-color: #bdc3c7;
}

.success {
	background-color: #2ecc71;
}

.info {
	background-color: #3490db;
}

.orange {
	background-color: #f2b468;
}

.profile_left input[type="submit"] {
	width: 90%;
	height: 30px;
	border-radius: 5px;
	margin: 7px 0 0 7px;
	border: none;
	color: #fff;
}

#accept_button {
	width: 20%;
	height: 30px;
	border-radius: 5px;
	margin: 5px;
	border: none;
	color: #fff;
	background-color: #2ecc71;
}


#ignore_button {
	width: 20%;
	height: 30px;
	border-radius: 5px;
	margin: 5px;
	border: none;
	color: #fff;
	background-color: #e74c3c;
}

.profile_info_bottom {
	margin: 10px 0 0 28px;
	color: #fff;
}

.search {
	margin: 15px 0 0 15%;
}

.search #search_text_input {
	border: thin solid #DADADA;
	float: left;
	height: 28px;
	color: #504a4a;
	outline: 0;
	width: 150px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.button_holder {
	width: 28px;
	height: 28px;
	background-color: #e8e8e8;
	border: thin solid #DADADA;
	cursor: pointer;
	float: left;
	text-align: center;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.button_holder img{
	width: 26px;
	height: 26px;
	cursor: pointer;
}

.search_results {
	background-color: #fff;
	border: 1px solid #DADADA;
	border-bottom: none;
	border-top: none;
	margin-top: 21px;
}

.search_results_footer {
	padding: 1px 4px 0px 4px;
	height: 28px;
	border: 1px solid #DADADA;
	border-top: none;
	background-color: #e67e22;
	text-align: center;
}

.search_results_footer a {
	color: #fff;
}

.resultDisplay85 {
	padding: 5px 5px 0 5px;
	height: 85px;
	border-bottom: 1px solid #D3D3D3;
}

.search_result {
	padding: 10px;
	height: 110px;
}

.searchPageFriendButtons {
	float: right;
}

.result_profile_pic {
	float: left;
	margin-right: 10px;
}

#search_hr {
	margin-bottom: 0;
}

.searchPageFriendButtons input[type="submit"] {
	border: none;
	padding: 7px 12px;
	border-radius: 5px;
	color: #fff;
}

.small_profile_pic {
	height: 110px;
	margin: 1px 12px 0 2px;
	float:left;
}

#settings_input {
	border: 1px solid #DADADA;
	height: 25px;
	padding: 4px 6px;
	margin-bottom: 10px;
	border-radius: 4px;
	font-size: 14px;
	line-height: 25px;
}

.settings_submit {
	border: none;
	padding: 7px 12px;
	border-radius: 5px;
	color: #fff;
}