@font-face {
	font-family :'Bellota-LightItalic';
	src: url('../fonts/Bellota-LightItalic.otf');
}

@font-face {
	font-family :'Bellota-BoldItalic';
	src: url('../fonts/Bellota-BoldItalic.otf');
}


body{
	background-image: url("../images/backrounds/Desktop.jpg");
	background-size: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}

#reset_box {
	       font-family: 'Bellota-LightItalic', sans-serif;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    top: 250px;
    width: 673px;
    background-color:#e3bf98;
    border: 5px solid #c09780;
    border-radius: 7px;
    padding: 30px;
    text-align: center;
    font-size: 18px;
}

#reset_password{
	padding: 5px;
}