@font-face {
	font-family :'Bellota-LightItalic';
	src: url('../fonts/Bellota-LightItalic.otf');
}

@font-face {
	font-family :'Bellota-BoldItalic';
	src: url('../fonts/Bellota-BoldItalic.otf');
}

body {
	background-color: #E6EAE8;
}

.top_bar {
	width: 100%;
	height: 60px;
	min-width: 1050px;
	background-color: #e67e22;
	border-bottom: 5px solid #ad6e22;
	margin: 0 0 10px 0;
	display: inline-flex;
	position: fixed;
	z-index: 10;
}

.logo a{
	font-family: 'Bellota-BoldItalic', sans-serif;
	color: #ffff;
	margin-left: 10px;
	font-size: 40px;
	position: relative;
	top: 9px;
	text-shadow: #8e44ad 1px 1px 0.5px;
	top: 0;
}

a:hover {
	text-decoration: none;
}

nav {
	float: right;
	right: 1px;
	position: absolute;
	margin: 10px;
}

nav a{
	position: relative;
	color: #ffff;
	text-decoration: none;
	font-size: 23px;
	margin: 7px;
	font-family: 'Bellota-BoldItalic', sans-serif;
}

nav a:hover {
	border-bottom: 7px solid white;
	color: #007bff;
}

.wrapper {
	margin: 0 auto;
	top: 70px;
	position: relative;
	padding: 0 10px;
	width: 75%;
	min-width: 950px;
}

.column {
	background-color: #fff;
	padding: 10px;
	border: 1px solid #a49689;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #a4968980;
	z-index: -1;
}

.user_details {
	width: 250px;
	float: left;
	margin-bottom: 20px;
}

.user_details_left_right {
	width: 125px;
	display: inline-block;
	position: absolute;
	margin-left: 8px;
}

.user_details img {
	border-radius: 5px;
	height: 125px;

}

.main_column {
	float: right;
	width: 81%;
	z-index: -1;
	min-height: 160px;
}

.post_form {
	width: 100%;
}

.post_form textarea {
	width: 90%;
	height: 60px;
	border-radius: 5px;
	margin-right: 5px;
	border: 1px solid #D3D3D3;
	font-size: 12px;
}

textarea:focus {
	outline: 0;
}

.post_form input[type="submit"]
{
	width: 9%;
	height: 30px;
	border: none;
	border-radius: 10px;
	background-color: #e67e22;
	font-family: 'Bellota-BoldItalic', sans-serif;
	color: #fff;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	font-size: 90%; 
	position: relative;
	outline: 0;
	margin: 0;
	bottom: 5px;
}

.post_form input[type="submit"]:active {
	background-color: white;
	color: black;
}

.status_post{
	width: 96%;
	font-size: 15px;
	padding: 0px 5px;
	min-height: 75px;
}

.post_profile_pic {
	float: left;
	margin-right: 7px;
}

.post_profile_pic img {
	border-radius: 5px;
}

#comment_iframe {
	max-height: 250px;
	width: 100%;
	
	margin-top: 5px;
}

.comment_section{
	padding: 0 5px 5px 5px;
}

.comment_section img{
	margin: 0 3px 3px 3px;
	border-radius: 3px;
}

#comment_form textarea{
	border-color: #D3D3D3;
	width: 90%;
	height: 35px;
	color: #616060;
	font-size: 14px;
	margin: 3px 3px 3px 5px;
	border-radius: 5px;
}

#comment_form input[type="submit"]{
	width: 8%;
	height: 30px;
	border: none;
	border-radius: 10px;
	background-color: #e67e22;
	font-family: 'Bellota-BoldItalic', sans-serif;
	color: #fff;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	font-size: 90%; 
	position: relative;
	outline: 0;
	margin: 0;
	bottom: 5px;
}

.newsfeedPostOptions {
	padding: 0px;
	text-decoration: none;
	color: #007bff;
	border: none;
}

.newsfeedPostOptions iframe{
	border: 0px;
	height: 17px;
	width: 120px;
}


.comment_like {
	background-color: transparent;
	border: none;
	font-size: 14px;
	color: #3498db;
	padding: 0;
	height: auto;
	width: auto;
	margin: 0;

}

.like_value{
	display: inline;
	font-size: 14px;
}

